{% extends "base.html" %}

{% block title %}
Base64 Encoder / Decoder
{% endblock %}

{% block content %}
<h1 align="center">Base64 En|Decode</h1>
<form method="post">
    <textarea name="text" id="text" class="form-control" rows="10"></textarea>
    <br/>
    <div align="center">
        <button type="submit" class="btn btn-lg btn-primary" name="submit_button" value="encode">Encode</button>
        <button type="submit" class="btn btn-lg btn-primary" name="submit_button" value="decode">Decode</button>
        <a href="/home"><button type="button" class="btn btn-lg btn-secondary">Back</button></a>
    </div>
</form>

<br/>

<h3 align="center">Result</h3>
<textarea name="result" id="result" class="form-control" rows="10">{{result}}</textarea>

{% endblock %}
